body {
	margin: 0;
	background-color: aliceblue;
	min-height: 100vh;
	min-width: 90vw;
	
	
	
}
main {
	padding: 5px;
	background-color: rgb(233, 233, 210);
	min-height: 100vh;
	min-width: 90vw;
	grid-template-columns: 100vh;
	border: 1px solid black;
}
#diary-h1 {
	font-size: 50px;
	padding: 0;
	margin: 0;
	margin-top: 2vh;
	border: 1px solid black;
}
header {
	text-align: center;
}
#diary-post-container {
	/* display: block; */
	margin-top: 5vh;
	/* width: 100%; */
	/* justify-content: center; */
	/* border: 1px solid black; */
}
#diary-post-form {
	/* width: 100%; */
	display: grid;
	justify-content: center;
	justify-self: center;
	align-self: center;
	/* row-gap: 1px; */
	/* margin-top: 5vh; */
	border: 1px solid black;
}
#diary-posts {
	/* border: 1px solid black; */
}
#diary-posts p{
	margin:0;
	padding:0;
}
#diary-posts ul{
	/* border: 1px solid black; */
	margin:0;
	padding:0;
}

#diary-posts li{
	border-bottom: 1px solid black;
	margin:0;
	padding:0;
}

#diary-post-h1 {
	border: 1px solid black;
	margin: 0;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	justify-self: center;
	max-width: 60vw;

}
li {
	list-style: none;
}
#post-title h1{
 margin: 0;
}


.diary-post-form-label {
	display: block;
	text-align: center;
	background-color: bisque;
}
#diary-post-form-text {
	display: grid;
	margin-top: 5px;
	text-align: center;
	justify-items: center;
	
}
/* #diary-post-form-text input{
	display: block; 
	width:90vw;
	max-width: 800px;
	height:25vh;
	
}  */
#post-button{
	/* align-self: center;
	justify-self: center; */
	width: 122px;
	background-color: bisque;
	border: 2px solid black;
	margin: 0;
	padding: 10px;
	font-size: 17px;
	border-radius: 5px;
	margin-top: -20px;
	z-index: 1;
}
#diary-post-form-button{
	display: grid;
	justify-items: center;
	
	
}
#diary-post-form-text-input{
	vertical-align: top;
	text-align: top;
	resize: none;
	width:90vw;
	max-width: 800px;
	height:25vh;
	padding: 10px;
	border-radius: 5px;
}

#diary-post-form-title-date {
	display: flex;
	width: 90vw;
	align-items: center;
	justify-content: center;
}
#diary-post-form-label-text {
	display: block;
	background-color: bisque;
	border: 2px solid black;
	width: 100px;
	margin: 0;
	padding: 10px;
	font-size: 17px;
	border-radius: 5px;
	margin-bottom: -25px;
	z-index: 1;
	

}


